@import "tailwindcss";

@theme {
  --color-textacon-blue: #0ea5e9;
  --color-textacon-dark: #09090b;
  --color-textacon-surface: #18181b;
}

:root {
  background-color: var(--color-textacon-dark);
  color: white;
  font-family: 'Inter', system-ui, sans-serif;
}
